.red {
    color: red;
}

.orange {
    color: orange;
}

.orangered {
    color: orangered;
}

.deeppink {
    color: deeppink;
}

.mediumorchide {
    color: MediumOrchid;
}

.slateblue {
    color: SlateBlue;
}

.dodgerblue {
    color: dodgerblue;
}

.skyblue {
    color: SkyBlue;
}

.lightseagreen {
    color: LightSeaGreen;
}

.limegreen {
    color: LimeGreen;
}

.yellowgreen {
    color: YellowGreen;
}
.khaki {
    color: Khaki;
}

.yellow {
    color: Yellow;
}

.moccassin {
    color: Moccasin;
}

.lightsalmon {
    color: LightSalmon;
}

.sienna {
    color: Sienna;
}

.turquoise {
    color: Turquoise;
}

.lightsteelblue {
    color: LightSteelBlue;
}

.lavender {
    color: Lavender;
}